@model MyFirstCoreApp.Models.commonModel;

@{
    ViewData["Title"] = "Index";
    var student = ViewBag.Student;
}

<h4>Student Registration Form</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="studentdata.RollNo" class="control-label"></label>
                <input asp-for="studentdata.RollNo" class="form-control" />
                <span asp-validation-for="studentdata.RollNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="studentdata.Name" class="control-label"></label>
                <input asp-for="studentdata.Name" class="form-control" />
                <span asp-validation-for="studentdata.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="studentdata.Class" class="control-label"></label>
                <input asp-for="studentdata.Class" class="form-control" />
                <span asp-validation-for="studentdata.Class" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <h4>Student Details</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.studentdata.RollNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.studentdata.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.studentdata.Class)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model.student.studentList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RollNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Class)
                        </td>
                    </tr>
                }
            }
            </tbody>
    </table>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
